*.xml
*.mk
*.yml
*.mc3
*.properties
Debug/
build/
*.d
*.o
ProjectFiles/CDH/.generated_files/*
!/.idea/**
.idea/copilot**
.idea/editor.xml

/toolchain/
node_modules/
!/.github/workflows/**

/APP/_asn1/icd.html
/APP/_asn1/icd.css
