config ULOG_AUTO_MANAGED
    def_bool ULOG_USE_UART

menuconfig ULOG
    bool "Enable uLog"

config ULOG_USE_UART
    bool "Enable uLog auto init over uart (via chosen/ulog,usart)"
    depends on ULOG

config ULOG_SYSTEM_ID
    hex "uLog system ID. Should be a unique u16 for every board"
    range 0x0000 0xFFFF
    default 0x0000
    depends on ULOG && ULOG_AUTO_MANAGED

config ULOG_LOG_BACKEND
    bool "Enable uLog logging backend"
    depends on ULOG && ULOG_AUTO_MANAGED && LOG_OUTPUT

config ULOG_LOG_BACKEND_BUFFER_SIZE
    int "uLog logging backend output buffer size"
    depends on ULOG_LOG_BACKEND
    default 512
