/ {
	aliases {
		usart-ulog = &usart1;
	};
};

&ext1_i2c {
	demo_i2c: demo@9 {
		compatible = "vnd,i2c-device";

		reg = < 9 >;
	};
};

demo_serial: &ext1_serial {
	status = "okay";
	current-speed = <115200>;

	pinctrl-0 = <&usart0_default>;
	pinctrl-names = "default";
};

&ext1_spi {
	demo_spi: demo_spi@0 {
		compatible = "vnd,spi-device";

		reg = <0>;
		spi-max-frequency = <100000>;
		spi-cpha;
	};
};